/*
 * Norse Font by Joel Carrouche
 * https://www.fontspace.com/norse-font-f21080
 */

@font-face {
    font-family: Norse;
    src: url(Norse-KaWI.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Norse;
    src: url(NorseBold-2Kge.otf);
    font-style: normal;
    font-weight: 700;
}