.nav {
    width: 100%;
    height: 60px;
    background-color: #ffffff22;
    display: flex;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}

.nav span {
    height: 100%;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    transition: 0.2s all;
    cursor: pointer;
    font-size: 30px;
}

.nav span:nth-child(2) {
    margin-left: auto;
}

.nav span a {
    text-decoration: none;
}

.norse, .norse * {
    font-family: Norse;
    font-weight: 400;
}

.nav span:hover {
    background-color: #475033;
}