.nav {
    position: sticky;
    width: 100%;
    height: 60px;
    background-color: #ffffff22;
    display: flex;
}

.nav span {
    height: 100%;
    padding: 10px;
    display: inline-flex;
    align-items: center;
}

.nav span:first-child {
    font-size: 30px;
}

.nav span:nth-child(2) {
    margin-left: auto;
}

.nav span a {
    text-decoration: none;
}