:root {
  --default-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mukta, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6, .norse {
  font-family: Norse;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

